doctype html
html(lang="zh-CN")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title 黄金雷达系统
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='./styles/bootstrap.min.css')
    link(rel='stylesheet', href='./styles/my.css' charset="utf-8")
    link(rel='stylesheet', href='./styles/notification.css')
    link(rel='stylesheet', href='./styles/iscroll.css')
    link(rel='stylesheet', href='./styles/font-awesome.min.css' charset="utf-8")
    link(rel='stylesheet', href='./styles/mobiscroll.core-2.5.2.css')
    link(rel='stylesheet', href='./styles/mobiscroll.sense-ui-2.5.1.css')
    link(rel='stylesheet', href='./styles/jquery.countdown.css')


  body(style="height:100%")
    div(style="position: absolute;left: 0;top: 0;bottom: 0;width: 100%;overflow: hidden;height:100%") 
      #app


  //- script(src='./lib/vue.js')
  //- script(src='./lib/vue-resource.js')
  //- script(src='./lib/vue-router/dist/vue-router.js')

  script(src='./lib/jquery.js')  
  script(src='./lib/SmartNotificaition.min.js')  
  script(src='./lib/echarts.js')  
  script(src='./lib/iscroll.js') 
  script(src='./lib/datetime.core.js')
  script(src='./lib/jquery.countdown.js')  
  script(src='./lib/highstock.src.js')  
  script(src='./vue/main.js')  

